html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/background/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 400;
  color: #fff;
  font-family: $montserrat;
  height: 100vh;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

@keyframes blinking {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.blinking {
  animation: blinking 1.5s infinite;
}
