.geek-room-chapter {
  background-image: url("../images/pattern/1.png");
  background-repeat: repeat;
  mix-blend-mode: exclusion;
  padding: 3pc 0;
  h1 {
    font-size: 50px;
    font-weight: 700;
    opacity: 0.4;
  }
}
