.geek-room-chapter {
  background-image: url("../images/pattern/1.png");
  background-repeat: repeat;
  mix-blend-mode: exclusion;
  padding: 3pc 0;
  margin-top: 3em;

  h1 {
    font-size: 55px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke-color: $orange;
    -webkit-text-stroke-width: 2px;
  }
}

@media (max-width: 824px) {
  .geek-room-chapter h1 {
    font-size: 35px;
  }
}
